.category_card {
  width: 320px;
  height: 250px;
  transition: transform .5s;
  margin: auto;
  background-color: #FFCB98;
  &:hover {
      text-decoration: none !important;
      transform: scale(1.1);
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 28px
  }
}
