<div class="top-page p-5">
  <h1>NOS CATEGORIES</h1>
</div>
<div class="container pt-4">


  <div class="d-flex flex-row justify-content-evenly mb-3">
    <% @categories.each do |category| %>
      <div class="card p-2">
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Modifier le nom', edit_category_path(category) %></td>
      </div>
    <% end %>
  </div>

</div>


<br>

<%= link_to 'New Category', new_category_path %>
