<div class="top-page text-center p-5">
  <h1>NOS CATEGORIES</h1>
  <br> <%= link_to 'Ajouter une nouvelle catégorie', new_category_path, class: 'btn omaj-btn' %>
</div>

<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-4 p-2">
      <div class="card category_card text-center justify-content-center">
        <%= link_to category do %>
          <%= category.name %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="bottom text-center">
</div>

