<div class="top-page text-center p-5">
   <h1>Ajout d'une nouvelle catégorie</h1>
</div>

<div class="container p-4">
  <%= render 'form', category: @category %>

  <%= link_to 'Retour', categories_path %>
</div>
